<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156197186753-j3a0mn1oh0inpbbkvvheb0s3lg2vpfa7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156197186753-j3a0mn1oh0inpbbkvvheb0s3lg2vpfa7</string>
	<key>API_KEY</key>
	<string>AIzaSyB7M8nbZ-qvF8oWyen1eBSG-gNMOX9oZ1w</string>
	<key>GCM_SENDER_ID</key>
	<string>156197186753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pChat</string>
	<key>PROJECT_ID</key>
	<string>p-chat-b6666</string>
	<key>STORAGE_BUCKET</key>
	<string>p-chat-b6666.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156197186753:ios:5bea8be3df2367d78b3840</string>
</dict>
</plist>